<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Livestreet Blogosphere</lang>
	</name>
	<author>
		<lang name="default">Alexander Bezroukov for 1in.kz</lang>
	</author>
	<homepage>http://1in.kz/</homepage>
	<version>0.0.3</version>
	<requires>
		<livestreet>0.4.2</livestreet>
		<plugins>

		</plugins>
	</requires>
	<description>
		<lang name="default">Topics timestrip.</lang>
		<lang name="russian">Лента времени топиков.</lang>
	</description>
</plugin>